@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
.navbar {
	margin-bottom: 0;
	background-color:#666750;
	z-index: 9999;
	border: 0;
	font-size: 18px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: 'Gemunu Libre', sans-serif;
}

.bg_custom {
	background-color: #666750;
	
}


.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #31464E !important;
	background-color: #D7E7ED !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
}

.btn {
	border-color: #D7E7ED !important;
	color: #fff;
}